{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<!-- Home -->

<section class="home" id="home">
    <div class="home-text" >
       <h1>Blog</h1>
       <span class=".home-subtitle">Découvrez, Inspirez-vous et Partagez Votre Passion avec Notre Communauté</span>
    </div>


  <!-- Category -->


</nav>
</section>
  <!-- Articles -->
  <div class="post-filter container">
     {% include 'mots_cles/index.html.twig' with mots_cles %}
    </div>
      <div class="post-container">
      
            {% for article in articles %}
        <div class="card">
          <img src="{{asset('assets/images/bleue.jpeg')}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <p class="card-text">{{ article.content }}                     
                <a href="{{ path('app_article_show', {'id': article.id}) }}" class="post-detail">Lire plus...</a>
         </p>
          </div>

        </div>           
        {% else %}
                <p >no records found</p>
        {% endfor %}
        </div>
    </div>

{% endblock %}
